<html>
	<head>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/font-awesome-4.6.3/css/font-awesome.min.css">
		<script src="../static/js/jquery-3.1.0.min.js"></script>
		<script src="../static/js/main.js"></script>

	</head>
	<body>
		<div class="container">
			<div class="nav">
				<div class="logo">
					<img src="../static/images/neptune.jpg" class="neptune">
				</div>
				<div class="navs">
					<ul>
						<li class="nav-but1">
						<p>Video</p>
						</li><li class="nav-but2 active">
						<p>Music</p></li><li class="nav-but3">
						<p>Images</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="sub-menu">
				<div class="video-sub-menu">
					
				</div>
				<div class="sub-menu-music active">
					<ul class="sub-menu-music-navs">
						<li class="sub-menu-music-nav-button1"><p>Artists</p></li>
						<li class="sub-menu-music-nav-button2"><p>Albums</p></li>
						<li class="sub-menu-music-nav-button3"><p>Songs</p></li>
						<li class="sub-menu-music-nav-button4"><p>Playlist</p></li>
					</ul>
				</div>
				<div class="sub-menu-image">
					<ul class="sub-menu-image-navs">
						<li class="sub-menu-image-nav-button1"><p>Albums</p></li>
						<li class="sub-menu-image-nav-button2"><p>Images</p></li>
					</ul>
				</div>
			</div>



			<div class="bot-bar">
				<div class="slide">
					<input type="range" minimum="0" maximum="100" step="0.1" value="0">
				</div>
				<div class="bot-bar-bot">
					<div class="mus-info"></div>
					<div class="controls">
						<ul class="cons">
							<li class="con shuffle"><i class="fa fa-random"></i></li>
							<li class="con prev"><i class="fa fa-step-backward"></i></li>
							<li class="con backward"><i class="fa fa-backward"></i></li>
							<li class="con play"><i class="fa fa-play"></i></li>
							<li class="con forward"><i class="fa fa-forward"></i></li>
							<li class="con next"><i class="fa fa-step-forward"></i></li>
							<li class="con repeat"><i class="fa fa-repeat"></i></li>
						</ul>
					</div>
					<div class="sound"></div>
				</div>
			</div>
		</div>
	</body>
</html>