<html>
	<head>
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="nav">
				<ul class="navs">
					<li class="nav-but1"> <a href="#">Video</a></li>
					<li class="nav-but2"> <a href="#">Music</a></li>
					<li class="nav-but3"> <a href="#">Images</a></li>
				</ul>
			</div>
			<div class="sub-menu">
				<div class="video-sub-menu">
					
				</div>
				<div class="sub-menu-music">
					<ul class="sub-menu-music-navs">
						<li class="sub-menu-music-nav-button1"><a href="#">Artists</a></li>
						<li class="sub-menu-music-nav-button2"><a href="#">Albums</a></li>
						<li class="sub-menu-music-nav-button3"><a href="#">Songs</a></li>
						<li class="sub-menu-music-nav-button4"><a href="#">Playlist</a></li>
					</ul>
				</div>
				<div class="sub-menu">
					<ul class="sub-menu-image-navs">
						<li class="sub-menu-image-nav-button1"><a href="#">Albums</a></li>
						<li class="sub-menu-image-nav-button2"><a href="#">Images</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>